.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container > form {
	display: flex;
	flex-direction: column;
	width: 400px;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.styledLink {
	text-align: center;
	text-decoration: underline;
	font-size: 18px;
	margin-top: 10px;
}
