.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container > form {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.styledLink {
	text-align: center;
	text-decoration: underline;
	font-size: 18px;
	margin-top: 10px;
}
