.footer {
	display: flex;
	justify-content: space-between;
	height: 120px;
	width: 1050px;
	box-shadow: 0px 0px 5px #3f1d1d;
	background-color: #fff;
	align-items: center;
	padding: 20px 40px;
}

.weather {
	font-style: italic;
}

.contacts {
	color: rgb(107, 105, 110);
}
.contacts a {
	color: rgb(107, 105, 110);
}
