.productItem {
	border: 1px solid #eee;
	border-radius: 8px;
	padding: 15px;
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: grid;
	grid-template-columns: 75px minmax(200px, 1fr) 140px 80px 30px;
	align-items: center;
	gap: 15px;
	position: relative;
	min-height: 80px;
}

.productItem:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.productItem img {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 4px;
}

.imageTitleContainer {
	display: flex;
	align-items: center;
	gap: 15px;
	grid-column: 1 / 3;
}

.title {
	font-weight: 500;
	min-width: 0;
}

.countControl {
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: #f7f5e14b;
	padding: 6px 12px;
	border-radius: 6px;
	border: 1px solid #b4bcc4ab;
	justify-self: center;
}

.price {
	font-weight: bold;
	justify-self: center;
	font-size: 19px;
	color: rgb(59, 38, 21);
	white-space: nowrap;
}

.deleteButton {
	justify-self: end;
}

.deleteButton:hover {
	color: #d41e30;
	transform: scale(1.1);
	transition: transform 0.3s;
}
