.conteiner {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 20px;
	background-color: #eee9e450;
	padding: 0px 20px 20px 20px;
	border-radius: 8px;
}

.category {
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #d6d6d6;
	color: #444b50;
	cursor: pointer;
}

img {
	width: 300px;
	height: 200px;
	object-fit: cover;
	flex-shrink: 0;
	border-radius: 4px;
}

.content {
	flex: 1;
	min-width: 200px;
}

.actions {
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-width: 150px;
	justify-content: center;
	align-items: center;
}

.price {
	font-size: 23px;
	margin: 10px 0;
}

.count {
	color: #995151;
	margin-bottom: 15px;
}
