.container {
	width: 580px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.newComment {
	display: flex;
	width: 100%;
	align-items: flex-start;
}

.newComment textarea {
	width: 550px;
	resize: none;
	height: 100px;
	font-size: 18px;
	padding: 10px;
	border: 1px solid #cfcece;
	border-radius: 8px;
	font-family: inherit;
}

.newComment textarea:focus {
	outline: none;
	border-color: #7e91a5;
	box-shadow: 0px 0px 2px #4d3636;
}

.comments {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	gap: 10px;
}
