.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.container h3 {
	font-size: 18px;
	font-weight: 600;
	color: #333;
	margin: 0;
}

.price {
	font-size: 24px;
	font-weight: 700;
	color: rgb(16, 196, 76);
	padding: 10px 0;
	border-bottom: 2px solid #eee;
}

.container button {
	font-weight: 600;
}
