.container {
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	padding: 20px;
	width: 250px;
	margin: auto 10px;
}

.container h3 {
	margin: 0 0 20px 0;
	font-size: 18px;
	font-weight: 600;
}

.container input,
.container select {
	width: 100%;
	margin-bottom: 15px;
}
