.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	font-size: 18px;
	height: 100%;
}

.productsList {
	width: 700px;
}

.content {
	display: flex;
	justify-content: center;
}

