.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	font-size: 18px;
	height: 100%;
}


.content {
	display: flex;
	justify-content: center;
}

.createNewProducts {
	border: 1px solid #000;
	width: 250px;
	height: 500px;
	margin: auto 10px;
}
