.container {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 20px;
}

.title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 16px;
	color: #333;
}

.number {
	font-size: 18px;
	margin-bottom: 20px;
	color: #666;
}

.goBack {
	color: #00ccff;
	cursor: pointer;
	font-size: 16px;
}

.goBack:hover {
	color: #0056b3;
}
