.container {
	position: relative;
	flex: 1;
	max-width: 600px;
}

.container input {
	width: 100%;
	padding: 10px 40px 10px 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
}

.iconWrapper {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	height: 100%;
}
